body
{
	background: rgba(106, 194, 114, 0.744);
}

	.login_div1
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 30px ;
        border-color:rgb(32, 106, 32);
        border-style:dashed;
       

	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 70%;
}
#word_display
{
	letter-spacing: 9px;
}
#output
{
background: rgb(252, 252, 252);
border-radius: 15px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

